main {

}
.wrapper {
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
.svar {
    border: solid 2px black;
    border-radius: 5px;
    padding: 5px;
}
.media {

}
img {
    height: 300px;
    width: 500px;
}